{
    "arrowParens": "always",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "semi": true,
    "singleQuote": false,
    "useTabs": true,
    "tabWidth": 4,
    "trailingComma": "none"
}